<h1>Cliff's Cloud Computing Assignment Portfolio</h1>
<br>
<ul style="list-style-type:none; padding: 0">
  <li><strong>Module 1</strong></li>
    <ul style="list-style-type:none; padding: 0">
      <li>Introduction to Cloud Computing</li>
      <br>
      <li>NIST SP800-145 Definition of Cloud Computing (Chapter Two)</li>
    </ul>
  <li><strong>Module 2</strong></li>
  <li><strong>Module 3</strong></li>
  <li><strong>Module 4</strong></li>
</ul>